.read_more{ display: inline-block; padding: 10px 10px 10px 10px; float: right; }

.read_more a{ color: #808080; padding: 2px; }

.read_more a:hover{ color:#E60900; }

.tag{ width:200px; padding: 10px 10px 10px 10px; font-family:"HelveticaNeue-Light","Helvetica Neue
Light","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:300; font-size:24px; display:
inline; }

.tag a:link{ color: #808080; padding: 2px; }

.tag a:visited{ color: #808080; padding: 2px; }

.tag a:hover{ color:#000; }

.tag a:hover{ color:#000; }

#image_list{ list-style-type: none; display:inline-block; zoom:1; *display:inline; clear: both;
padding: 0; margin-top: 50px;

 }

 #image_list li{ display: inline; position: relative; float: left; width:320px; height:214px;
overflow: hidden; margin: 8px;

 -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3); box-shadow:
0 0 5px rgba(0,0,0,0.3); }

 #image_list img{ width:320px; border: none;

 }

 #image_list li:hover{ -webkit-box-shadow: 0 0 5px red; -moz-box-shadow: 0 0 5px red; box-shadow: 0
0 5px red; }

 #image_list a:hover img{ border-left: 1px solid red; }

 #image_list .folder span{ bottom:0; left:1px; position: absolute; height:30px; width:300px;
font-size: 20px; line-height: 30px; color: #fff; background: #000; background: rgba(0,0,0,0.5);
filter: Alpha(Opacity=50); padding:0 10px; z-index: 1000; }

 #images_container{ position: relative; width: 100%; } .bread_nav{ position: absolute; top: 1.9em;
left: 0; letter-spacing: 1px; z-index: 100; padding: 0 10px; margin: 0; background: #b3b3b3;
background: rgba(150,150,150,0.5);; color: #fdfdfd; font-size: 0.9em; }

 .bread_nav a{ color: #fff; }

 .bread_nav a:hover{ border-bottom: 1px dashed #fff; background: #3C4348; }

 .bread_nav li{ list-style-type: none; float: left; margin: 0 5px; padding: 0; }

 #image{ margin:50px auto; position: relative; min-height: 50px; }

 #image img{ position: relative; z-index: 0; display: block; max-width: 60%; margin: 0 auto;
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3); box-shadow:
0 0 15px rgba(0,0,0,0.3); }

 #image .info{ position: absolute; right:0; bottom: 0; background: rgba(150,150,150,0.5); color:
#fdfdfd; font-size: 0.9em; z-index: 999; }

 /* connected images */ #image .connected_images{ position: absolute; z-index: 99; top:0;
width:100%; height: 100%; }

 #image .connected_images a{ display: block; width:50%; float: left; height:100%; }

/*
 #image .connected_images span{ font-size: 1.2em; color:#fff; letter-spacing: 2px; bottom:20px;
display: none; position: absolute; top: 45%; }


 #image .connected_images a{ background: #9b9b9b; background: rgba(0, 0, 0, 0); filter:
Alpha(Opacity=0); }


 #image 
 .connected_images a:hover{ background: #9b9b9b; background: rgba(0, 0, 0, 0.3); filter:
Alpha(Opacity=30); border: none;

 }
*/

 #image .connected_images a:hover span{ display: block; }

 #image .connected_images .pre{ left:0; cursor: url(/template/images/cursor/pre.png),auto;}

 #image .connected_images .next{ right:0; cursor: url(/template/images/cursor/next.png),auto;}

 /* connected images ends*/

 /* for categories*/



 #categories{
     list-style-type: none;
     display:inline-block;
     zoom:1;
     *display:inline;
     clear: both;
     padding: 0;
     margin-top: 50px;
 }

 #categories li{
     float: left;
     position: relative;
 }
 
 #categories li .category-text {
	 background-color: rgba(0, 0, 0, 0.7);
	 margin-top: 230px;
	 padding: 5px;
 }
 
  #categories li .category {
  	color: #ffffff;
  }
 
 #categories li a {
     margin: 20px;
     width: 235px;
     float: left;
     height: 320px;
     background: #fff;
     border: 1px solid #c8c8c8;
 }


 #categories li a:hover{
     border: 1px solid #b7b7b7;
     -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
     box-shadow: 0 1px 5px rgba(0,0,0,0.2);
 }

 #categories li a:hover .category-text {
     padding-left: 8px;
 }

 #categories li .category {
     font-size: 1.8em;
     word-wrap:break-word;
     overflow:hidden;
 }

 #categories li span{
     color: #999;
     font-size: 1.2em;
 }
