.mid-col
  .mid-col-container
    #content.inner
      for post in posts
        article.post
          .meta
            .date
              time= post.date | date('%Y-%m-%d')
            if post.tags
              for tag in post.tags
                a.category(href='/tags/{{ tag }}') {{ tag }}
          if post.metadata.link
            h1.title
              a(href= post.metadata.link, target='_blank')
                post.title
            .entry-content
              {{ post.content }}
              .read_more
                a(href=post.metadata.link, target='_blank') 打开链接
          else
            h1.title
              a(href='{{ post.url }}') {{ post.title }}
            .entry-content
              {{ post.content | limit(300) }}
              .read_more
                a(href=post.url) 阅读全文
          br
      include 'include/paginator.html'
  include 'include/footer.html'
